body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.flex-container {
    display: flex;
    background-color: rgb(128, 164, 201);
}
.flex-container > div {
    min-width: 50px;
    min-height: 50px;
    background-color: beige;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}

.parent-1,
.parent-2 {
    width: 200px;
    height: 200px;
}
.parent-1 {
    background-color: cadetblue;
    position: relative;
}
.parent-2 {
    background-color: antiquewhite;
}
/* -------------------------- */
.child-one {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5%, 5%);
    /* margin: calc(100% - 95%); */
    background-color: yellow;
}
.child-two {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* -------------------------- */
.parent-2 p {
    outline: 1px solid green;
    margin: 0;
}
/* -------------------------- */
