body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.parent {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: cadetblue;
}
.child-one {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45%;
    background-color: yellow;
}
.child-two {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
