body {
  box-sizing: border-box;
  margin: 20px;
}
.main-images {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

image-1 {
  border: 1px solid green;
  width: 30%;
  height: 400px;
  /* background-image: url('https://unsplash.com/photos/hksj-fvUVek'); */
  /* background-image: url('https://picsum.photos/800/800'); */
  /* background-image: url('https://placeimg.com/992/480/any'); */
  background-image: url('../images/cheatch1.avif');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: 50% 50%;
}
image-2 {
  width: 400px;
  height: 400;
}
image-3 {
  width: 400px;
  height: 400;
}
