body {
  box-sizing: content-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
}

.grid-box {
  background-color: aqua;
  /* border: 1px solid gray; */
  /* display: grid; */
}
