body {
  box-sizing: border-box;
}

.combinators {
  border: 1px solid black;
  padding: 15px;
}
article > h1:nth-child(1) {
  color: green;
  font-variant: small-caps;
  font-weight: 700;
}
article > h1 {
  color: red;
  border-inline: 1px solid red;
  border-block: 1px solid blue;
  padding-inline: 10px;
  width: min-content;
}
article > section > h1 {
  color: blue;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.child-combinator > ul > li {
  color: red;
}
descendant-combinator > ul li {
  color: blue;
}

section.adjacent-sibling > p > code {
  font-weight: 800;
  font-size: x-large;
  color: brown;
}

section.adjacent-sibling > div.parent > div > p + p {
  color: blueviolet;
  text-decoration: underline;
}
.general-sibling {
}

.pseudo-class > ul li:nth-child(2n + 1) {
  background-color: antiquewhite;
}
section p > .nemo {
  border: 1px solid orange;
}
