body {
  box-sizing: border-box;
}

.combinators {
  border: 1px solid black;
  padding: 15px;
}
article > h1:nth-child(1) {
  color: green;
  font-variant: small-caps;
  font-weight: 700;
}
article > h1 {
  color: red;
  border-inline: 2px solid red;
  border-block: 2px solid blue;
  padding-inline: 15px;
  width: max-content;
  text-transform: capitalize;
}
article > section > h1 {
  color: blue;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background-color: antiquewhite;
  width: max-content;
  padding: 5px 10px;
}
/* ------------------------------------------- */
section.child-combinator > ul > li {
  color: brown;
  text-decoration: underline;
  font-weight: 800;
}
/* ------------------------------------------- */
/* section.adjacent-sibling > p > code {
  font-weight: 800;
  font-size: x-large;
  color: brown;
} */

section.adjacent-sibling > h1 + p {
  background-color: aquamarine;
}

/* ------------------------------------------- */
.pseudo-class > ul li:nth-child(2n + 1) {
  background-color: antiquewhite;
}
section p > .nemo {
  border: 5px solid orange;
  padding: 5px;
  margin: 10px;
}
