.alignment_in_the_inline_direction {
  margin: 10px;
  border: 1px solid black;
  min-height: 100vh;
  padding: 20px;
}

.horizontal {
  background-color: beige;
  writing-mode: horizontal-tb;
  /* border: 1px solid blue; */
  border-block: 3px solid green;
  border-inline: 3px solid red;

  block-size: 60px;
  inline-size: 50%;
  margin-block: 20px;

  padding-block: 40px;
}

.vertical {
  background-color: lightcyan;
  writing-mode: vertical-rl;
  /* border: 1px solid blue; */
  border-block: 3px solid green;
  border-inline: 3px solid red;

  block-size: 50px;
  inline-size: 50%;

  padding-block: 10px;
  padding-inline: 10px;
}
span {
  border: 1px solid red;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-inline: 20px;
  /* margin-inline-start: 50px;
  margin-inline-end: 20px; */
}
/* --------------------------------------- */
.float_effects {
  border: 3px solid black;
  background-color: antiquewhite;
  margin-block: 10px;
  padding: 10px;
}
.box {
  background-color: rgb(224, 206, 247);
  border: 2px solid rebeccapurple;
}

.float {
  float: left;
  width: 200px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
/* --------------------------------------- */
