.main1 {
    margin: 0 auto;
    width: 300px;
}
div ul.list1  li + li:nth-child(2n) {
    background-color: lightgrey;
}

.abs {
    /* display: contents; */
    position: absolute;
    left: 100px;
    top: 100px;
}