.flexbox{
    background-color: lightgoldenrodyellow;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

.flexitem{
    box-sizing: border-box;
    border: 1px solid blue;
    /* margin: 1px; */
    padding: 5px;
    flex: 1 0 100px;
    
}